doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="/javascripts/jquery-ui.js")
    script(type='text/javascript', src="/javascripts/custom.js")
  body
    block content

